@font-face {
  font-family: 'Nyxerin';
  src: url('../fonts/NYXERIN.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Ninetea';
  src: url('../fonts/Ninetea-Regular.eot');
  src: url('../fonts/Ninetea-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Ninetea-Regular.woff2') format('woff2'),
       url('../fonts/Ninetea-Regular.woff') format('woff'),
       url('../fonts/Ninetea-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
